# Application
NEXT_PUBLIC_APP_NAME=FaceKitten
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Gemini API
GEMINI_API_KEY=
GEMINI_PROJECT_ID=
GEMINI_PROJECT_N=
