# Application
NEXT_PUBLIC_APP_NAME=FaceKitten
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1
SESSION_SECRET=
IDENTITY_TOKEN_SECRET=
SESSION_COOKIE_DOMAIN=
SESSION_COOKIE_SAME_SITE=lax
PROFILE_VERIFICATION_SECRET=
# Gemini API
GEMINI_API_KEY=
GEMINI_PROJECT_ID=
GEMINI_PROJECT_N=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_ACCESS_TOKEN=
SUPABASE_KEY=
SUPABASE_PROJECT_ID=
SUPABASE_DB_SCHEMA=public
NEXT_PUBLIC_VIPIDS=
SUPABASE_USER_PASSWORD=
SUPABASE_USER_EMAIL=
klipitokenName=
klipitokenValue=

NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
NEWSDATA_KEY=

GEOAPIFY_API_KEY=
geoapifyapikey=
