# Application
NEXT_PUBLIC_APP_NAME=FaceKitten
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api
SESSION_SECRET=
PROFILE_VERIFICATION_SECRET=
# Gemini API
GEMINI_API_KEY=
GEMINI_PROJECT_ID=
GEMINI_PROJECT_N=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_KEY=
NEXT_PUBLIC_VIPIDS=
SUPABASE_USER_PASSWORD=
SUPABASE_USER_EMAIL=

NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
NEWSDATA_KEY=
