@import "tailwindcss";

@theme {
  --color-primary: #0866ff;
  --color-secondary: #e2e5e9;
  --color-tertiary : #f2f4f7;
  --color-success: #51cf66;
  --color-danger: #ff6b6b;
  --color-warning: #ffd93d;
  --color-info: #6bcfff;
}

@font-face {
  font-family: "klavika";
  src: url("/assets/fonts/klavika-medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.customboxShadow{
-webkit-box-shadow:0px 4px 18px 0px #ACACAC;
-moz-box-shadow:0px 4px 18px 0px #ACACAC;
-o-box-shadow:0px 4px 18px 0px #ACACAC;
box-shadow:0px 4px 18px 0px #ACACAC;
}