@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

html{
  overflow-x: hidden;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
  max-width: 100vw;
}

$custom-colors: (
  "tertiary": #6d84b4,
  "quaternary": #afbdd4,
  "quinary": #d8dfea,
  "success": #17c525,
  "white": #ffffff,
  "grayBg": #f1f1f1
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import '~bootstrap/scss/bootstrap';

$rounded-sizes: (
  1: 0.125rem, // 2px
  2: 0.25rem,  // 4px
  3: 0.5rem,   // 8px
  4: 0.75rem,  // 12px
  5: 1rem,     // 16px
);

@each $breakpoint, $value in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint) {
    @each $size, $radius in $rounded-sizes {
      .rounded-#{$breakpoint}-#{$size} {
        border-radius: $radius !important;
      }
    }
  }
}

@each $breakpoint, $value in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint) {
    .bg-#{$breakpoint}-white {
      background-color: map-get($custom-colors, "white") !important;
    }
  }
}
 
$shadows: (
  1: 0 2px 4px rgba(0, 0, 0, 0.1), 
  2: 0 4px 8px rgba(0, 0, 0, 0.2),   
  3: 0 6px 12px rgba(0, 0, 0, 0.3), 
  4: 0 8px 16px rgba(0, 0, 0, 0.4), 
  5: 0 10px 20px rgba(0, 0, 0, 0.5),
);

@each $breakpoint, $value in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint) {
    @each $size, $shadow in $shadows {
      .#{$breakpoint}-shadow-#{$size} {
        box-shadow: $shadow !important;
      }
    }
  }
}

.thicker-hr {
  border-bottom: 3px solid #007bff !important; 
  background-color: #007bff !important; 
  opacity: 1 !important; 
  filter: none !important; 
  width: 100%; 
  position: relative;
  min-width: 130%;
  bottom: -10px;
  left: -5px;
}

.midNavBarButton {
  padding: 0.5rem 2rem !important;
  border-radius: 20%;
}

.midNavBarButton:hover {
  background-color: #F0F2F5 !important;
}

.liHoverEffect:hover{
  background-color: var(--bs-grayBg) !important;
}

.commentSectionButton:hover{
  background-color: var(--bs-grayBg) !important;
}

.postCardSpinner {
  width: 100%;
  height: 150px;
  display: block;
  margin: auto;
  position: relative;
  background: #FFF;
  box-sizing: border-box;
  border-radius: 15px;
}

.postCardSpinner::after {
  content: '';  
  width: calc(100% - 30px); /* Mantiene la larghezza proporzionale al contenitore */
  height: calc(100% - 30px);
  top: 15px;
  left: 15px; 
  position: absolute;
  background-image: linear-gradient(100deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 80%), 
                    radial-gradient(circle 28px at 28px 28px, #DDD 99%, transparent 0),
                    linear-gradient(#DDD 36px, transparent 0),
                    linear-gradient(#DDD 30px, transparent 0),
                    linear-gradient(#DDD 90px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 130px, 
                   55px 56px, 
                   50% 30px, /* Prima barra dimezzata */
                   50% 20px, /* Seconda barra dimezzata */
                   100% 56px; /* Le barre rimanenti mantengono la larghezza intera */
  background-position: 0% 0, 
                       0 0, 
                       70px 5px, 
                       70px 38px, 
                       0px 66px;
  box-sizing: border-box;
  animation: postCardSpinnerAnimation 1s linear infinite;
}

@keyframes postCardSpinnerAnimation {
  0% {
    background-position: 0% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  }
  100% {
    background-position: 150% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  }
}

